body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b1e39; 
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #112649; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* Navbar */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #09172c;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #cfe0ff;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #e4e9f2;
    font-weight: bold;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #7bb5ff;
}


/* Table */
table {
    border-collapse: collapse;
    width: 95%;
    margin-top: 20px;
    background-color: #0f1f37;
    border-radius: 8px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #2f4770;
}
table th {
    background-color: #1a3257;
}

/* Button */
button, input[type="submit"] {
    padding: 8px 16px;
    border: none;
    background-color: #3f74c7;
    color: white;
    border-radius: 20px; 
    cursor: pointer;
}
button:hover, input[type="submit"]:hover {
    background-color: #5a90e0;
}

/* Links */
a {
    color: #99c1ff;
}

a:hover {
    color: #cde0ff;
}

/* Login */

.login-wrapper {
    max-width: 350px;
    margin: 120px auto;
    background-color: #112649;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center; 
}

.login-wrapper input {
    width: 90%;
    padding: 9px;
    margin-bottom: 13px;
    border-radius: 8px;
    border: none;
}

.login-wrapper h1 {
    text-align: center;
}
